from settings_types import Wlan_network_meta, Command_and_control_server_meta
settings = {
    'wlans': [
        Wlan_network_meta('ssid', 'passphrase',),
    ],
    'c2servers': [
        Command_and_control_server_meta('server_url', 'username', 'password',),
    ]
}
